In [183]:
import numpy as np
import pandas as pd
import statsmodels.api as sm
from easygui import fileopenbox
pd.set_option('display.float_format','{:.5f}'.format)
pd.set_option('display.max_rows',2000)

In [75]:
d=pd.read_csv(fileopenbox())

In [76]:
d.nunique()

Client.Category       41
Solution.Type         67
Deal.Date           2555
Sector                25
Location              13
VP.Name               43
Manager.Name         278
Deal.Cost           1468
Deal.Status.Code       2
dtype: int64

## Checking for independancy using Chi-Square test
#### H0: There is no relationship between the variables
#### H1: There is a relationship between variables

In [77]:
from scipy.stats import chi2_contingency
#Testing the relationship
chi_res = chi2_contingency(pd.crosstab(d['Client.Category'], d['Deal.Status.Code']))
print('Chi2 Statistic: {}, p-value: {}'.format(chi_res[0], chi_res[1]))

Chi2 Statistic: 334.66998830092354, p-value: 3.486288611974585e-48

In [78]:
categorical_columns=d.select_dtypes(exclude=[np.number]).columns

In [79]:
chi2_check = []
for i in categorical_columns:
    if chi2_contingency(pd.crosstab(d['Deal.Status.Code'], d[i]))[1] < 0.05:
        chi2_check.append('Reject Null Hypothesis')
    else:
        chi2_check.append('Fail to Reject Null Hypothesis')
res = pd.DataFrame(data = [categorical_columns, chi2_check] 
             ).T 
res.columns = ['Column', 'Hypothesis']
print(res)

             Column              Hypothesis
0   Client.Category  Reject Null Hypothesis
1     Solution.Type  Reject Null Hypothesis
2         Deal.Date  Reject Null Hypothesis
3            Sector  Reject Null Hypothesis
4          Location  Reject Null Hypothesis
5           VP.Name  Reject Null Hypothesis
6      Manager.Name  Reject Null Hypothesis
7  Deal.Status.Code  Reject Null Hypothesis

In [80]:
chi2_check = []
for i in categorical_columns:
    if chi2_contingency(pd.crosstab(d['Client.Category'], d[i]))[1] < 0.05:
        chi2_check.append('Reject Null Hypothesis')
    else:
        chi2_check.append('Fail to Reject Null Hypothesis')
res = pd.DataFrame(data = [categorical_columns, chi2_check] 
             ).T 
res.columns = ['Column', 'Hypothesis']
print(res)

             Column                      Hypothesis
0   Client.Category          Reject Null Hypothesis
1     Solution.Type          Reject Null Hypothesis
2         Deal.Date  Fail to Reject Null Hypothesis
3            Sector          Reject Null Hypothesis
4          Location          Reject Null Hypothesis
5           VP.Name          Reject Null Hypothesis
6      Manager.Name          Reject Null Hypothesis
7  Deal.Status.Code          Reject Null Hypothesis

In [81]:
chi2_check = []
for i in categorical_columns:
    if chi2_contingency(pd.crosstab(d['Solution.Type'], d[i]))[1] < 0.05:
        chi2_check.append('Reject Null Hypothesis')
    else:
        chi2_check.append('Fail to Reject Null Hypothesis')
res = pd.DataFrame(data = [categorical_columns, chi2_check] 
             ).T 
res.columns = ['Column', 'Hypothesis']
print(res)

             Column                      Hypothesis
0   Client.Category          Reject Null Hypothesis
1     Solution.Type          Reject Null Hypothesis
2         Deal.Date  Fail to Reject Null Hypothesis
3            Sector          Reject Null Hypothesis
4          Location          Reject Null Hypothesis
5           VP.Name          Reject Null Hypothesis
6      Manager.Name          Reject Null Hypothesis
7  Deal.Status.Code          Reject Null Hypothesis

In [82]:
chi2_check = []
for i in categorical_columns:
    if chi2_contingency(pd.crosstab(d['Sector'], d[i]))[1] < 0.05:
        chi2_check.append('Reject Null Hypothesis')
    else:
        chi2_check.append('Fail to Reject Null Hypothesis')
res = pd.DataFrame(data = [categorical_columns, chi2_check] 
             ).T 
res.columns = ['Column', 'Hypothesis']
print(res)

             Column                      Hypothesis
0   Client.Category          Reject Null Hypothesis
1     Solution.Type          Reject Null Hypothesis
2         Deal.Date  Fail to Reject Null Hypothesis
3            Sector          Reject Null Hypothesis
4          Location          Reject Null Hypothesis
5           VP.Name          Reject Null Hypothesis
6      Manager.Name          Reject Null Hypothesis
7  Deal.Status.Code          Reject Null Hypothesis

In [83]:
chi2_check = []
for i in categorical_columns:
    if chi2_contingency(pd.crosstab(d['VP.Name'], d[i]))[1] < 0.05:
        chi2_check.append('Reject Null Hypothesis')
    else:
        chi2_check.append('Fail to Reject Null Hypothesis')
res = pd.DataFrame(data = [categorical_columns, chi2_check] 
             ).T 
res.columns = ['Column', 'Hypothesis']
print(res)

             Column                      Hypothesis
0   Client.Category          Reject Null Hypothesis
1     Solution.Type          Reject Null Hypothesis
2         Deal.Date  Fail to Reject Null Hypothesis
3            Sector          Reject Null Hypothesis
4          Location          Reject Null Hypothesis
5           VP.Name          Reject Null Hypothesis
6      Manager.Name          Reject Null Hypothesis
7  Deal.Status.Code          Reject Null Hypothesis

In [84]:
chi2_check = []
for i in categorical_columns:
    if chi2_contingency(pd.crosstab(d['Manager.Name'], d[i]))[1] < 0.05:
        chi2_check.append('Reject Null Hypothesis')
    else:
        chi2_check.append('Fail to Reject Null Hypothesis')
res = pd.DataFrame(data = [categorical_columns, chi2_check] 
             ).T 
res.columns = ['Column', 'Hypothesis']
print(res)

             Column              Hypothesis
0   Client.Category  Reject Null Hypothesis
1     Solution.Type  Reject Null Hypothesis
2         Deal.Date  Reject Null Hypothesis
3            Sector  Reject Null Hypothesis
4          Location  Reject Null Hypothesis
5           VP.Name  Reject Null Hypothesis
6      Manager.Name  Reject Null Hypothesis
7  Deal.Status.Code  Reject Null Hypothesis

In [85]:
num_columns=d.select_dtypes(include=[np.number]).columns

In [86]:
chi2_check = []
for i in categorical_columns:
    if chi2_contingency(pd.crosstab(d['Deal.Cost'], d[i]))[1] < 0.05:
        chi2_check.append('Reject Null Hypothesis')
    else:
        chi2_check.append('Fail to Reject Null Hypothesis')
res = pd.DataFrame(data = [categorical_columns, chi2_check] 
             ).T 
res.columns = ['Column', 'Hypothesis']
print(res)

             Column              Hypothesis
0   Client.Category  Reject Null Hypothesis
1     Solution.Type  Reject Null Hypothesis
2         Deal.Date  Reject Null Hypothesis
3            Sector  Reject Null Hypothesis
4          Location  Reject Null Hypothesis
5           VP.Name  Reject Null Hypothesis
6      Manager.Name  Reject Null Hypothesis
7  Deal.Status.Code  Reject Null Hypothesis

In [49]:
x=d.iloc[:,:-1]
y=d.iloc[:,-1]

In [50]:
x1=pd.get_dummies(d['Client.Category'])
x2=pd.get_dummies(d['Sector'])
x3=pd.get_dummies(d['Solution.Type'])
x4=pd.get_dummies(d['Location'])
x5=pd.get_dummies(d['VP.Name'])
x6=pd.get_dummies(d['Manager.Name'])

In [51]:
from sklearn.preprocessing import LabelEncoder
le=LabelEncoder()
y_lab=le.fit_transform(y)

### Post Dummies Testing

In [87]:
check = {}
for i in res[res['Hypothesis'] == 'Reject Null Hypothesis']['Column']:
    dummies = pd.get_dummies(d[i])
    bon_p_value = 0.05/d[i].nunique()
    for series in dummies:
        if chi2_contingency(pd.crosstab(d['Deal.Status.Code'], dummies[series]))[1] < bon_p_value:
            check['{}-{}'.format(i, series)] = 'Reject Null Hypothesis'
        else:
            check['{}-{}'.format(i, series)] = 'Fail to Reject Null Hypothesis'
res_chi_ph = pd.DataFrame(data = [check.keys(), check.values()]).T
res_chi_ph.columns = ['Pair', 'Hypothesis']
res_chi_ph

                               Pair                      Hypothesis
0          Client.Category-Airpline  Fail to Reject Null Hypothesis
1       Client.Category-Automobiles  Fail to Reject Null Hypothesis
2        Client.Category-Consulting          Reject Null Hypothesis
3     Client.Category-Consumer Good  Fail to Reject Null Hypothesis
4     Client.Category-Domestic Bank  Fail to Reject Null Hypothesis
...                             ...                             ...
3019       Manager.Name-sunder paal  Fail to Reject Null Hypothesis
3020         Manager.Name-vansu dev  Fail to Reject Null Hypothesis
3021    Manager.Name-vinit katariya  Fail to Reject Null Hypothesis
3022          Deal.Status.Code-Lost          Reject Null Hypothesis
3023           Deal.Status.Code-Won          Reject Null Hypothesis

[3024 rows x 2 columns]

In [88]:
significant_chi = []
for i in res_chi_ph[res_chi_ph['Hypothesis'] == 'Reject Null Hypothesis']['Pair']:
    significant_chi.append('{}_{}'.format(i.split('-')[0],i.split('-')[1]))

In [96]:
significant_chi

['Client.Category_Consulting',
 'Client.Category_Domestic Public Bank',
 'Client.Category_Hospitality',
 'Client.Category_Internal',
 'Client.Category_Retail_market',
 'Solution.Type_Solution 10',
 'Solution.Type_Solution 12',
 'Solution.Type_Solution 20',
 'Solution.Type_Solution 30',
 'Solution.Type_Solution 31',
 'Solution.Type_Solution 32',
 'Solution.Type_Solution 39',
 'Solution.Type_Solution 4',
 'Solution.Type_Solution 52',
 'Solution.Type_Solution 67',
 'Solution.Type_Solution 8',
 'Solution.Type_Solution 9',
 'Sector_Sector 13',
 'Sector_Sector 20',
 'Sector_Sector 21',
 'Sector_Sector 9',
 'Location_L1',
 'Location_L10',
 'Location_L5',
 'Location_L7',
 'Location_L9',
 'Location_Others',
 'VP.Name_Ankita Aggarwal',
 'VP.Name_Ekta Zutshi',
 'VP.Name_LongÂ\xa0Bergstrom',
 'VP.Name_MervinÂ\xa0Harwood',
 'VP.Name_RosannaÂ\xa0Maynez',
 'VP.Name_neeraj kumar',
 'Manager.Name_Abhinav Warrier',
 'Manager.Name_AbramÂ\xa0Fines',
 'Manager.Name_Akshay Sharma',
 'Manager.Name_Akshit Khanna',
 'Manager.Name_D. Ankit ',
 'Manager.Name_DennisÂ\xa0Faux',
 'Manager.Name_DesmondÂ\xa0Krout',
 'Manager.Name_Eesha Yadav',
 'Manager.Name_Ekta Zutshi',
 'Manager.Name_Harsh Verma',
 'Manager.Name_JeanÂ\xa0Sappington',
 'Manager.Name_Jitendra Choudhary',
 'Manager.Name_Manish Saundriyal',
 'Manager.Name_Md Irshad',
 'Manager.Name_Prateek Dhotre',
 'Manager.Name_Preetan Gujar',
 'Manager.Name_RussellÂ\xa0Dahlen',
 'Manager.Name_Sangeet Daga',
 'Manager.Name_Vinay Kumar',
 'Manager.Name_neeraj kumar',
 'Manager.Name_ram kumar',
 'Deal.Status.Code_Lost',
 'Deal.Status.Code_Won']

In [89]:
signi_chi=pd.DataFrame(significant_chi)

In [90]:
signi_chi

                                       0
0             Client.Category_Consulting
1   Client.Category_Domestic Public Bank
2            Client.Category_Hospitality
3               Client.Category_Internal
4          Client.Category_Retail_market
5              Solution.Type_Solution 10
6              Solution.Type_Solution 12
7              Solution.Type_Solution 20
8              Solution.Type_Solution 30
9              Solution.Type_Solution 31
10             Solution.Type_Solution 32
11             Solution.Type_Solution 39
12              Solution.Type_Solution 4
13             Solution.Type_Solution 52
14             Solution.Type_Solution 67
15              Solution.Type_Solution 8
16              Solution.Type_Solution 9
17                      Sector_Sector 13
18                      Sector_Sector 20
19                      Sector_Sector 21
20                       Sector_Sector 9
21                           Location_L1
22                          Location_L10
23                           Location_L5
24                           Location_L7
25                           Location_L9
26                       Location_Others
27               VP.Name_Ankita Aggarwal
28                   VP.Name_Ekta Zutshi
29               VP.Name_LongÂ Bergstrom
30               VP.Name_MervinÂ Harwood
31               VP.Name_RosannaÂ Maynez
32                  VP.Name_neeraj kumar
33          Manager.Name_Abhinav Warrier
34             Manager.Name_AbramÂ Fines
35            Manager.Name_Akshay Sharma
36            Manager.Name_Akshit Khanna
37                Manager.Name_D. Ankit
38             Manager.Name_DennisÂ Faux
39           Manager.Name_DesmondÂ Krout
40              Manager.Name_Eesha Yadav
41              Manager.Name_Ekta Zutshi
42              Manager.Name_Harsh Verma
43         Manager.Name_JeanÂ Sappington
44       Manager.Name_Jitendra Choudhary
45        Manager.Name_Manish Saundriyal
46                Manager.Name_Md Irshad
47           Manager.Name_Prateek Dhotre
48            Manager.Name_Preetan Gujar
49          Manager.Name_RussellÂ Dahlen
50             Manager.Name_Sangeet Daga
51              Manager.Name_Vinay Kumar
52             Manager.Name_neeraj kumar
53                Manager.Name_ram kumar
54                 Deal.Status.Code_Lost
55                  Deal.Status.Code_Won